<div id="container">
    <span><h3 id="title">Super Magical Love Party</h3><a href="https://github.com/nickpesce/supermagicalloveparty">github</a></span>
    <p id="description">
    "Like Super Smash Bros without the horrible violence!" -anon<br/>
    Super Magical Love Party is an online multiplayer <i>battle</i> game that aims to teach love and compassion instead of violence and hate. Unicorns, bunnies, birds, and pandas compete to spread love. As they distribute their warm compassion to the other players, they gain satisfaction. The first player to fill their satisfaction bar bursts into a rainbow and ascends to Nirvana.
    </p>

    <ul>
        <li>Up to 9 players can play together online.</li>
        <li>Up to 4 players can play together locally on the same keyboard</li>
        <li>Local and online games can use custom maps created with the built-in map-editor</li>
    </ul>
    <span>*Many more features an mechanics can be found on the project's <a href="https://github.com/nickpesce/supermagicalloveparty">Github page.</a></span>
</div>
