<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>About Me</h1>

            <img src="../assets/softheon_headshot.jpg" id="headshot" class="rounded-circle" align="left" width=250>

            <div id="about-text">
                <p>I am currently a junior studying at the University of Maryland: College Park. I am majoring in computer science and math and I plan to graduate in May 2019.</p>

                <p>I recently completed a software engineering internship at Softheon, Inc. where I worked in a team to recreate and rebrand the company's knowledge management system. I not only worked with other software engineering interns, but also with project management interns. This allowed me to get a more complete view of what it takes to plan and develop a product from the begining to the end.</p>

                <p>One area of computer science that I am particularilly interested in is computer vision and augmented reality. It is rare for me to find something that I have no interest in. The most important thing for me is that I am challenged and learning something new.</p>
            </div>
        </div>
    </div>
</div>
